.imgProf{
    border-radius: 50%;    
    width: 250px;
    height: 250px;

    margin-left:  10px;
}

.imgProfindex{
  border-radius: 500%;    
  width: 250px;
  height: 250px;

  margin-left:  10px;
}



.cor-card{
    background: blue;
    color: beige;
}

.button {
    border-radius: 4px;
    background-color: #821ef4;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

.card-centraliza{

    text-align: center;
    
}




.formulario{
position: center;
padding: 10px 430px;
}

.ghost{
border-radius: 20px;
background-color:  #922c93;
color: #FFFFFF;
font-size: 12px;
font-weight: bold;
padding: 12px 45px;
letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 43%;
  outline:none;
}
.linha{
 border: 0.5px dashed rgb(160, 157, 157);
}
/*background:linear-gradient(rgba(255, 255, 255, 0.699),rgba(255, 255, 255, 0.664)),url("../img/fundo2.jpg") no-repeat;*/
.linha{
  height: 150px;
}
.p2,.p4{
  float: right;
}

img{
  border-radius: 100%;
  object-fit: cover;
  height: 120px;
  width: 120px;
}
.foto2{
  border-color: black;
  float: right;
}
.conteudo-sobre h6{
  font-weight: 700;
  text-align: justify;
  padding: 20px 200px;
}
.barra-titulo{
  width: 200px;
  border: 2px solid black;
}
.titulo-desenvolvedores{
  padding: 15px;
}
.barra-titulo-desenvolvedores{
  width: 400px;
  border: 2px solid black;
}

